.navGrid {
    // display: flex;
    // flex-direction: column;
    // position: fixed;
    padding: 20px;
    width: 300px;

    .searchForm {
        width: 200px;

    }
}
@media screen and (max-width: 950px) {
    .navGrid {
        width: 100vw;
        display: flex;
        flex-grow: 1;

        .searchForm {
            width: 100vw;
        }
    }
}
