* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    // background-color: darkblue;
}

.wrapper {
    display: flex;
}
// responsive 

@media screen and (max-width: 950px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }
}